<div class="container-fluid">
  <div class="row">
    <!-- Pour mobiles, afficher d'abord la carte en haut -->
    <div class="col-12 d-md-none">
      <div style="width: 100%; height: 600px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>

<div class="container-fluid">
  <div class="row">
    <!-- Cartes à gauche -->
    <div class="col-lg-8 col-md-8 col-12">
      <div class="mx-auto mt-2 mb-3">
        <h1 class="text-center">Presidents to rent</h1>
      </div>
      <div class="container">
        <div class="row">
          <% @presidents.each do |president| %>
            <div class="col-lg-4 col-md-4 col-12 mb-5"> <!-- Réduisez la largeur des cartes ici -->
              <a href="<%= president_path(president) %>">
                <div class="card-trip card-trip-list custom-link">
                  <% president.photos.each do |photo| %>
                    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
                  <% end  %>
                  <div class="card-trip-infos">
                    <div>
                      <%= president.name %>
                      <p><%= president.description.split('.').first + '.' %></p>
                    </div>
                    <h2 class="card-trip-pricing">$10 per day</h2>
                  </div>
                </div>
              </a>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <!-- Carte à droite (sticky) avec une largeur ajustée -->
    <div class="col-lg-4 col-md-4 d-none d-md-block">
      <div style="position: sticky; top: 20px; height: 100vh;"> <!-- Réglage de la hauteur à 100% de la hauteur de la fenêtre -->
        <!-- Pour les tablettes et les écrans plus grands, afficher la carte à droite -->
        <div style="width: 100%; height: 100%;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
    </div>
  </div>
</div>
