<h2><%= @president.name %></h2>

<div>
<p><%= @president.description %></p>
<% @president.photos.each do |photo| %>
<%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<%= link_to "Back to the presidents index", presidents_path %>
<% end %>
<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @marker.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
