<h1>Owner::Presidents#new</h1>
<p>Find me in app/views/owner/presidents/new.html.erb</p>
<div>
<%= simple_form_for [:owner, @president] do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.button :submit %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
<% end %>
</div>
