<h1 class="d-flex justify-content-center">My Dashboard</h1>
<div class="container">
  <div class="d-flex justify-content-around">
    <div class= "row col-md-6">
      <h2>My Bookings</h2>
      <ul>
        <li><% @my_bookings.each do |my_booking| %>
       <%= my_booking.start_date %> to <%= my_booking.end_date %> <br>
        <%= my_booking.president.name %> <br>
        status: <%= my_booking.status %> <br>
        <% end %>
        </li>
      </ul>
    </div>

    <div class= "row col-md-6">
      <h2>My Presidents's bookings</h2>
      <ul>
        <% @bookings_of_my_presidents.each do |bookings_of_my_president| %>
          <h5><b><%= bookings_of_my_president.president.name %></b></h5>
          <li><b>From</b> <%= bookings_of_my_president.start_date %> <b>to</b> <%= bookings_of_my_president.end_date %></li>
          <li><b>Booked by:</b> <%= bookings_of_my_president.user.first_name %> <%= bookings_of_my_president.user.last_name %></li>
          <li> <b>Contact:</b> <%= bookings_of_my_president.user.email %></li>
          <% if bookings_of_my_president.status == "pending" %>
          <%= link_to "Accept", accept_owner_booking_path(bookings_of_my_president), data:{turbo_method: :patch}, class: "btn btn-info" %>
          <%= link_to "Decline", decline_owner_booking_path(bookings_of_my_president), data:{turbo_method: :patch}, class: "btn btn-danger" %>
          <% else %>
          <%= bookings_of_my_president.status %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class= "d-flex row row-cols-3 row-cols-md-3 g-4">
  <div class= "">
  <ul>
    <h2 class= "dashtitle">My Presidents</h2>
      <% @my_presidents.each do |my_president| %>
      <li><div class= "col card card-body"><% my_president.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 50, width: 100, crop: :fill %>
          <% end  %>
          <h4 class= "card-title"><%= my_president.name %></h4>
          <%= my_president.description %> </p>
          <% end %>
          </div>
      </li>
    </ul>
  </div >
