<div class="container mt-5">
  <div class="row">
    <!-- Colonne pour My Bookings -->
    <div class="col-md-6 mb-4 booking-column">
      <div class="card flex" style="width: 36rem;">
        <div class="card-header">
          <h2>My Bookings</h2>
        </div>
        <ul class="list-group list-group-flush">
          <% @my_bookings.each do |my_booking| %>
            <li class="list-group-item">
              <b><%= my_booking.president.name %></b> <br>
              <%= my_booking.start_date %> to <%= my_booking.end_date %> <br>
              <b>Status:</b> <%= my_booking.status %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <!-- Colonne pour My President's Booking -->
    <div class="col-md-6 mb-4 booking-column">
      <div class="card" style="width: 36rem;">
        <div class="card-header">
          <h2>My President's bookings</h2>
        </div>
        <ul class="list-group list-group-flush">
          <% @bookings_of_my_presidents.each do |bookings_of_my_president| %>
            <li class="list-group-item">
              <h5><b><%= bookings_of_my_president.president.name %></b></h5>
              <b>From</b> <%= bookings_of_my_president.start_date %> <b>to</b> <%= bookings_of_my_president.end_date %> <br>
              <b>Booked by:</b> <%= bookings_of_my_president.user.first_name %> <%= bookings_of_my_president.user.last_name %> <br>
              <b>Contact:</b> <%= bookings_of_my_president.user.email %> <br>
              <% if bookings_of_my_president.status == "pending" %>
                <%= link_to "Accept", accept_owner_booking_path(bookings_of_my_president), data:{turbo_method: :patch}, class: "btn btn-info" %>
                <%= link_to "Decline", decline_owner_booking_path(bookings_of_my_president), data:{turbo_method: :patch}, class: "btn btn-danger" %>
              <% else %>
                <%= bookings_of_my_president.status %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <!-- Cartes "My Presidents" -->
  <div class="row">
    <h2 class="dashtitle">My Presidents</h2>
    <% @my_presidents.each do |my_president| %>
      <div class="col-lg-3 col-md-4 col-6 mb-4">
        <div class="card-trip card-trip-list custom-link h-100">
          <% my_president.photos.each do |photo| %>
            <%= cl_image_tag photo.key, width: 300, crop: :fill %>
          <% end %>
          <div class="card-body p-3">
            <h4 class="card-title"><%= my_president.name %></h4>
            <p class="card-text"><%= my_president.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>