<!-- Hero Section -->

<%macron = President.find_by name: "Emmanuel Macron"%>
<%hollande = President.find_by name: "François Hollande"%>
<%poutine = President.find_by name: "Vladimir Poutine"%>

<div class="banner">
  <div class="container">
    <h1>Welcome to Rent a President</h1>
    <p>You need help ? Our politics need money !</p>
    <%= link_to "Discover", presidents_path, class: "btn btn-primary" %>
  </div>
</div>

<!-- Top President Section -->
<div class="text-center mx-auto mt-3 mb-4"><h1>Top Presidents</h1></div>
<div class="row">

<!-- Card Macron -->
<div class="col-lg-4 col-md-4 col-sm-12 mb-5">
  <div class="card-trip">
    <img src="https://i.ibb.co/wzJ0F60/macron-coach-of-nothing.webp" class="img-full" />
    <div class="card-trip-infos">
      <div>
        <%= link_to "Macron", president_path(macron) %>
        <p><%= "Coaching for Youtubers" %></p>
      </div>
      <h2 class="card-trip-pricing">$10.00 per day</h2>
    </div>
  </div>
</div>

<!-- Card Hollande -->
<div class="col-lg-4 col-md-4 col-sm-12 mb-5">
  <div class="card-trip">
    <img src="https://i.ibb.co/HC3hK0x/hollande-gardening.jpg" class="img-full" />
    <div class="card-trip-infos">
      <div>
        <%= link_to "Hollande", president_path(hollande) %>
        <p><%= "Gardening Specialist" %></p>
      </div>
      <h2 class="card-trip-pricing">$12.00 per day</h2>
    </div>
  </div>
</div>

<!-- Card Poutine -->
<div class="col-lg-4 col-md-4 col-sm-12 mb-5 mr-5">
  <div class="card-trip">
    <img src="https://i.ibb.co/bQzxMQj/poutine-fishing.jpg" class="img-full" />
    <div class="card-trip-infos">
      <div>
        <%= link_to "Poutine", president_path(poutine) %>
        <p><%= "Fishing Teacher" %></p>
      </div>
      <h2 class="card-trip-pricing">$15.00 per day</h2>
    </div>
  </div>
</div>

<!-- Testimonial Section -->
<aside class="text-center bg-gradient-primary-to-secondary py-4">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center">
        <div class="h2 fs-1 text-white mb-4">"I hired Macron to motivate my students, it worked really well! All my students are now investment bankers."</div>
        <img src="https://i.ibb.co/10Q0tJ0/lewagon-logo.webp" alt="le-wagon-logo" style="width: 30%" />
      </div>
    </div>
</div>
</aside>
