<!-- Hero Section -->
<div class="banner">
  <div class="container">
    <h1>Welcome to Rent a President</h1>
    <p>You need help ? Our politics need money !</p>
    <%= link_to "Discover", presidents_path, class: "btn btn-primary" %>
  </div>
</div>

<!-- Top President Section -->
<div class="text-center mx-auto mt-3 mb-4"><h1>Top Presidents</h1></div>
<div class="row">

  <!-- Card Macron -->
  <div class="col-lg-4 col-md-4 col-sm-12 mb-5">
    <div class="card-trip">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-trip-infos">
        <div>
          <%= link_to "Macron", president_path(1) %>
          <p><%= "coach in everything and anything" %></p>
        </div>
        <h2 class="card-trip-pricing">$10.00 per day</h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
      </div>
    </div>
  </div>

  <!-- Card Hollande -->
  <div class="col-lg-4 col-md-4 col-sm-12 mb-5">
    <div class="card-trip">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-trip-infos">
        <div>
          <%= link_to "Hollande", president_path(2) %>
          <p><%= "Gardening specialist" %></p>
        </div>
        <h2 class="card-trip-pricing">$12.00 per day</h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
      </div>
    </div>
  </div>

  <!-- Card Trump -->
  <div class="col-lg-4 col-md-4 col-sm-12 mb-5">
    <div class="card-trip">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-trip-infos">
        <div>
          <%= link_to "Kim Jong", president_path(3) %>
          <p><%= "Tennis teacher" %></p>
        </div>
        <h2 class="card-trip-pricing">$15.00 per day</h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
      </div>
    </div>
  </div>
</div>


<!-- Testimonial Section -->
<aside class="text-center bg-gradient-primary-to-secondary py-4">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-xl-8">
        <div class="h2 fs-1 text-white mb-4">"I hired Macron to motivate my students, it worked really well! All my students are now investment bankers."</div>
        <img src="assets/lewagon-logo.webp" alt="le-wagon-logo" style="height: 3rem" />
      </div>
    </div>
  </div>
</aside>
